body{
 min-height: auto;
 font-family: 'Trebuchet MS';    
}

h1{    
font-family: fantasy;
min: height 20px;
border:2px solid blue
}

header{
min: height 20px;
border:2px solid purple;    
}



